/* General */
html {
  box-sizing: border-box;
  background-color: black;
    color:white;
}
*, *::before, *::after {
  box-sizing: inherit;
} 
body {
   display: block;
    margin: 20px 140px;
}

.head-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;  
}

.head-midle {
  display: flex;
  flex-direction: row;
  gap: 20px;  
}